<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- CONSOLE LOGGING -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- PROJECT LEVEL LOGGING -->
    <logger name="com.hdfclife.resilience" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- SPRING TUNING TO LOG-->
    <logger name="org.springframework" level="INFO"/>

    <!-- ROOT LOGING -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>