<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- LOG PATH & FILE PROPERTIES -->
    <property name="LOG_DIR" value="./logs" />
    <property name="LOG_FILE_NAME" value="application" />

    <!-- CONSOLE LOGGING -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- FILE LOGGING (ROTTING & ARCHIVING) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>

        <!-- Time & Size based rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Archives old logs daily with compression (.gz) -->
            <fileNamePattern>${LOG_DIR}/archived/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- Rolls over to a new file when current reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- Keeps up to 30 days of archived logs -->
            <maxHistory>30</maxHistory>
            <!-- Cap total archive size at 2GB -->
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- PROJECT LEVEL LOGGING -->
    <logger name="com.hdfclife.resilience" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- SPRING TUNING TO LOG -->
    <logger name="org.springframework" level="INFO"/>

    <!-- ROOT LOGGING -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>